.top{
    background-color: lightgray;
    height: 200px;


    display: flex;
    justify-content: center;
    align-items: center;
}
.middle{
    /*background-color: gray;*/
    margin-top: 8px;

    display: flex;
}
.middle-item{
    background-color: gray;
    width: 70%;
    height: 527px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.last-item{
    background-color: coral;
    width: 30%;
    height: 527px;
    margin-left: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 0) and (max-width: 1200px){
    .top{
       height: 150px;
   }
    .middle{
        width: 100%;
        flex-direction: column;
    }
    .middle-item{
        width: 100%;
        height: 420px;
    }
    .last-item{
        width: 100%;
        height: 150px;

        margin: 8px 0 0;
    }
}

