body{
    margin: 10px;
}
.main{
    display: flex;
}
.left{
    width: 16%;
    height: 80%;
}
.logo{
    width: 100%;
    height: 100px;
    background-color: #676767;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    width: 100%;
    height: 450px;
    background-color: #676767;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.store-locator{
    width: 100%;
    height: 100px;
    background-color: #676767;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.tools{
    width: 100%;
    height: 100px;
    background-color: #676767;

    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    width: 84%;
    height: 80%;
}
.header{
    width: 99.2%;
    height: 100px;
    background-color: #676767;
    margin: 0 0 10px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.bath-section-intro{
    width: 77%;
    height: 200px;
    background-color: #676767;
    margin-left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.ad{
    width: 22%;
    height: 200px;
    background-color: #676767;
    margin-left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.types-of-baths{
    width: 77%;
    height: 460px;
    background-color: #676767;
    margin: 10px 0 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.related-products{
    width: 22%;
    height: 460px;
    background-color: #676767;
    margin: 10px 0 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 100%;
    height: 123px;
    background-color: #676767;
    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.second-line{
    display: flex;
}
.third-line{
    display: flex;
}
h3{
    color: white;
}

@media screen  and (min-width: 0) and (max-width: 1201px){
    body {
        height: 1180px;
        position: relative;
    }
    .logo{
        height: 80px;
    }
    .header{
        width: 82.9%;
        height: 80px;
        position: absolute;
    }
    .nav{
        width: 100%;
        height: 80px;
        margin: 0;

        position: absolute;
        top: 90px;
        right: 0;
    }
    .bath-section-intro{
        width: 65%;
        height: 180px;
        margin: 0;

        position: absolute;
        top: 180px;
        left: 0;
    }
    .ad{
        width: 33.7%;
        height: 180px;

        position: absolute;
        top: 180px;
        right: 0;
    }
    .types-of-baths{
        width: 100%;
        height: 400px;
        margin: 0;

        position: absolute;
        top: 370px;
        left: 0;
    }
    .related-products{
        width: 100%;
        height: 180px;
        margin: 0;

        position: absolute;
        top: 780px;
        left: 0;
    }
    .store-locator{
        width: 49%;
        height: 80px;
        margin: 0;

        position: absolute;
        top: 970px;
        left: 0;
    }
    .tools{
        width: 49%;
        height: 80px;
        margin: 0;

        position: absolute;
        top: 970px;
        right: 0;
    }
    .footer{
        height: 120px;
        position: absolute;
        top: 1050px;
    }
}
